@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  body {
    @apply antialiased;
  }

  :root {
    --primary-blue: 199 100% 43%;
    --primary-red: 358 85% 52%;
    --secondary-1: 204 45% 98%;
    --secondary-2: 210 14% 89%;
    --tertiary-1: 233 14% 54%;
    --tertiary-2: 226 18% 24%;
    --white: 0 0% 100%;
    --destructive: 358 85% 52%;
    --danger: 45 100% 51%;
  }

  .dark {
    --secondary-1: 233 14% 54%;
    --secondary-2: 226 18% 24%;
    --tertiary-1: 0 0% 100%;
    --tertiary-2: 233 14% 54%;
  }
}

.bg-gradient {
  --position-bg: 90deg;
  background: linear-gradient(
    var(--position-bg),
    rgba(1, 149, 218, 0.67) 16.29%,
    #0195da 37.58%,
    #1b4ba8 99.89%
  );
}

.bg-gradient-sidebar {
  --position-bg: 90deg;
  background: linear-gradient(
    var(--position-bg),
    rgba(1, 149, 218, 0.67),
    #0195da 74.58%,
    #1b4ba8 99.89%
  );
}

.ProseMirror:is(:focus, :focus-visible) {
  outline: none;
}

.ProseMirror {
  height: inherit;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.tiptap ul {
  list-style: disc;
}

.tiptap ol {
  list-style: decimal;
}

.floating-label {
  transition: all 100ms ease-in-out;
  transform-origin: center top;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animated-svg path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 1s linear forwards;
}
