@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  :root {
    --primary-blue: 199 100% 43%;
    --primary-red: 358 85% 52%;
    --secondary-1: 204 45% 98%;
    --secondary-2: 210 14% 89%;
    --tertiary-1: 233 14% 54%;
    --tertiary-2: 226 18% 24%;
    --white: 0 0% 100%;
    --destructive: 358 85% 52%;
    --danger: 45 100% 51%;
  }

  .dark {
    --secondary-1: 233 14% 54%;
    --secondary-2: 226 18% 24%;
    --tertiary-1: 0 0% 100%;
    --tertiary-2: 233 14% 54%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf2f7;
}

p,
span,
strong,
div {
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 480px) {
  p,
  span,
  strong,
  div {
    font-size: 14px;
    font-weight: normal;
  }
}

.bg-gradient {
  --position-bg: 90deg;
  background: linear-gradient(
    var(--position-bg),
    rgba(1, 149, 218, 0.67) 16.29%,
    #0195da 37.58%,
    #1b4ba8 99.89%
  );
}

.bg-gradient-sidebar {
  --position-bg: 90deg;
  background: linear-gradient(
    var(--position-bg),
    rgba(1, 149, 218, 0.67),
    #0195da 74.58%,
    #1b4ba8 99.89%
  );
}

.floating-label {
  transition: all 100ms ease-in-out;
  transform-origin: center top;
}
