@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-azul-ufal text-branco-100 text-xl px-[3.25rem] h-12 py-2 shadow-sombra-botao;
  }

  .btn-secondary {
    @apply bg-cinza-texto text-branco-100 text-xl px-[3.25rem] h-12 py-2 shadow-sombra-botao;
  }

  .btn-tertiary {
    @apply bg-cinza-medio text-cinza-texto text-xl px-[3.25rem] h-12 py-2 shadow-sombra-botao;
  }

  .btn-primary-action {
    @apply bg-cinza-texto text-branco-100 text-base px-[0.625rem] h-[2.625rem] py-2 shadow-sombra-botao;
  }

  .btn-secondary-action {
    @apply bg-cinza-medio text-cinza-texto text-base px-[0.625rem] h-[2.625rem] py-2 shadow-sombra-botao;
  }

/* mobile */
  .btn-text-only {
    @apply bg-transparent text-azul-ufal text-base w-full py-4;
  }
  .btn-primary-mobile {
    @apply bg-azul-ufal text-branco-100 text-base px-[6.25rem] py-4 shadow-sombra-botao;
  }
}


#root {
  --azul-ufal: #0095DA;
  --branco-gelo: #F7FAFC;
	--fundo-claro: #333849;
	--cinza-medio: #DEE2E6;
	--azul-ufal: #0095DA;
	--cinza-texto: #797D9A;
	--branco-100: #FFFFFF;
	--cinza-escuro: #D9D9D9;
	--branco-gelo-forte: #EDF2F7;
	--azul-final-gradiente: #4FB4E4;
	--azul-fundo-gradiente-dark: #0B70A2;
	--vermelho-ufal: #ED1C24;
	--fundo: #212532;

  --gradiente: linear-gradient(90.18deg, rgba(1, 149, 218, 0.67) 16.29%, #0195DA 37.58%, #1B4BA8 99.89%);
  
  --sombra-card: 0px 8px 16px rgba(0, 0, 0, 0.16);
	--sombra-botao: 0px 4px 4px rgba(0, 0, 0, 0.16);

}